{% include header.html %}
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">


          <div class="col-xs-12 col-sm-9">
          <div class="">
            {{ content }}
          </div>
        </div>

        <div class="col-md-3">
          <div class="bs-sidebar hidden-print">
            <ul class="nav bs-sidenav accordion">
            <li></li>
                <p>Moodle development book:</p>
                <a href="https://leanpub.com/moodle"><img src="/images/book.png" /></a>

                <div class="short-navbar"></div>
             
            </ul>
          </div>
        </div>
      </div>

    </div>
{% include footer.html %}

<script type="text/javascript">
    var strings = [];
    $(".command-name").each(function() { strings.push($(this).text()) });
    var per_group = 8;

    var grouped = [];

    for(var i=0; i<strings.length; i+=per_group) {
        var first, last;
        var max_in_group = Math.min(strings.length - 1, i + per_group - 1);
        //console.log(max_in_group);
        first = strings[i];
        if (strings[i+per_group-1]) {
          last = strings[i+per_group-1];
        }
        else {
          last = strings[strings.length-1];
        }

        console.log(last);
        $('.short-navbar').append('<li><a data-toggle="collapse" data-parent="#accordion" href="#' + first + '-' + last + '">' + first + ' : ' + last + '</a><ul id="' + first + '-' + last + '" class="panel-collapse collapse">');
        for(var j=i; j<=max_in_group; j++) {
            $('#' + first + '-' + last).append('<li><a href="#' + strings[j] + '"">' + strings[j] + '</li>');
        }
        $(".short-navbar").append('</ul></li>');
    }

</script>
