{% include header.html %}
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <div class="">
            <p>{{ content }}</p>
          </div>
        </div><!--/span-->

        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" data-spy="affix">
            <ul class="nav bs-sidenav accordion">
</li>
<li>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">A - CL</a>
<ul id="collapseOne" class="panel-collapse collapse">
<li><a href="#activity-add">activity-add</a></li>
<li><a href="#block-add">block-add</a></li>
<li><a href="#block-manage">block-manage</a></li>
<li><a href="#block-add">block-add</a></li>
<li><a href="#category-create">category-create</a></li>
<li><a href="#category-export">category-export</a></li>
<li><a href="#category-list">category-list</a></li>
<li><a href="#category-move">category-move</a></li>
<li><a href="#chkdatadir">chkdatadir</a></li>
<li><a href="#clear-cache">clear-cache</a></li>
</ul>
</li>
<li>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">CL - D</a>
<ul id="collapseTwo" class="panel-collapse collapse">
<li><a href="#cohort-create">cohort-create</a></li>
<li><a href="#cohort-enrol">cohort-enrol</a></li>
<li><a href="#cohort-unenrol">cohort-unenrol</a></li>
<li><a href="#config-get">config-get</a></li>
<li><a href="#config-plugins">config-plugins</a></li>
<li><a href="#config-set">config-set</a></li>
<li><a href="#course-backup">course-backup</a></li>
<li><a href="#course-create">course-create</a></li>
<li><a href="#course-config-set">course-config-set</a></li>
<li><a href="#course-enrol">course-enrol</a></li>
<li><a href="#course-enrolbyname">course-enrolbyname</a></li>
<li><a href="#course-enrolleduser">course-enrolleduser</a></li>
<li><a href="#course-enableselfenrol">course-enableselfenrol</a></li>
<li><a href="#course-reset">course-reset</a></li>
<li><a href="#course-restore">course-restore</a></li>
<li><a href="#course-unenrol">course-unenrol</a></li>
</ul>
</li>
<li>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">D - I</a>
<ul id="collapseThree" class="panel-collapse collapse">
<li><a href="#data-stats">data-stats</a></li>
<li><a href="#debug-off">debug-off</a></li>
<li><a href="#debug-on">debug-on</a></li>
<li><a href="#dev-versionbump">dev-versionbump</a></li>
<li><a href="#download-moodle">download-moodle</a></li>
<li><a href="#file-delete">file-delete</a></li>
<li><a href="#file-list">file-list</a></li>
<li><a href="#file-path">file-path</a></li>
<li><a href="#form-add">form-add</a></li>
<li><a href="#forum-newdiscussion">forum-newdiscussion</a></li>
<li><a href="#generate-filepicker">generate-filepicker</a></li>
<li><a href="#generate-form">generate-form</a></li>
<li><a href="#generate-gradereport">generate-gradereport</a></li>
<li><a href="#generate-lang">generate-lang</a></li>
<li><a href="#generate-module">generate-module</a></li>
<li><a href="#generate-qtype">generate-qtype</a></li>
</ul>
</li>
<li>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I - S</a>
<ul id="collapseFour" class="panel-collapse collapse">
<li><a href="#info">info</a></li>
<li><a href="#info-plugins">info-plugins</a></li>
<li><a href="#maintenance-off">maintenance-off</a></li>
<li><a href="#maintenance-on">maintenance-on</a></li>
<li><a href="#module-config">module-config</a></li>
<li><a href="#module-manage">module-manage</a></li>
<li><a href="#user-create">user-create</a></li>
<li><a href="#user-delete">user-delete</a></li>
<li><a href="#user-getidbyname">user-getidbyname</a></li>
<li><a href="#user-list">user-list</a></li>
<li><a href="#user-mod">user-mod</a></li>
<li><a href="#random-label">random-label</a></li>
<li><a href="#report-concurrency">report-concurrency</a></li>
<li><a href="#role-update-capability">role-update-capability</a></li>
<li><a href="#role-update-contextlevel">role-update-contextlevel</a></li>
</ul>
</li>
<li>
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">S - Z</a>
<ul id="collapseFive" class="panel-collapse collapse">
<li><a href="#sql-run">sql-run</a></li>
<li><a href="#theme-info">theme-info</a></li>
<li><a href="#webservice-call">webservice-call</a></li>
</ul>
</li>
             
            </ul>
          </div>
        </div>
      </div>

    </div>
{% include footer.html %}